<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Eventful API Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D153D35B1C49E3B8001DA6C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D153D36F1C49E3B9001DA6C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D153D37A1C49E3B9001DA6C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
